.score_up {
   color: green;
   font-size: 75%;
}

.score_down {
   color: red;
   font-size: 75%;
}

.bid_up {
   color: green;
}

.bid_down {
   color: red;
}

.bid_caller {
      font-weight: bold;
}


.table td {
   text-align: center;   
}

.table th {
   text-align: center;   
}