{% extends "rookscore/base.html" %}
{% load rook_extras %}

<!-- https://www.iconfinder.com/iconsets/customicondesign-office7-shadow-png -->
<!-- https://www.iconfinder.com/iconsets/crystalproject -->

{% block body %}

<h3>{% if current_season %}{{ current_season }}{% else %}All Time{% endif %} Awards</h3> {% if awards %} 

<div class="row">
{% for award in awards %}
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
    
                <h2 class="panel-title " {% if award.description %}data-toggle="tooltip" data-placement="top auto" title="{{ award.description }}"{% endif %}>
                    {% if award.icon_url %}
                    <img src="{{ award.icon_url }}" style="height:36px;"/>
                    {% endif %}
                    {{ award }}
                    <a data-toggle="collapse" data-target=".award-{{forloop.counter}}">
                        (all)
                    </a>
                </h2>
            </div>
    
            <div>
                <table class="table table-striped table-hover ">
                    <thead>
                        <tr>
                            <th>
                                Rank
                            </th>
                            <th>
                                Player
                            </th>
                            <th>
                                {{ award.value_description }}
                            </th>
                            <!--<th>-->
                                
                            <!--</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        {% for winner in award.season_winners %}
                            {% if forloop.first %}
                            <tr>
                            {% else %}
                            <tr class="collapse award-{{forloop.parentloop.counter}}">
                            {% endif %}
                                <td>
                                   {{ winner.rank }}
                                </td>
        
                                <td>
                                    <a href="/player/{{ winner.players.0 }}">
                                        {{ all_players|get_from_dict:winner.players.0 }}
                                    </a>
                                    
                                    <!--<ul>-->
                                    <!--{% for winner in winners %}-->
                                    <!--{% for player in winner.players %}-->
                                    <!--<li>-->
                                    <!--<a href="/player/{{ player.id }}">-->
                                    <!--    {{ player }}-->
                                    <!--</a>-->
                                    <!--</li>-->
                                    <!--{% endfor %}-->
                                    <!--{% endfor %}-->
                                    <!--</ul>-->
        
                                </td>
                                <td>
                                    {{ winner.display }}
                                    <!--<div class="collapse" id="collapseExample{{ forloop.counter }}">-->
                                    <!--    <ul>-->
                                    <!--    {% for winner in winners %}-->
                                    <!--        <li>-->
                                    <!--        #{{ winner.rank }} - {{ winner.display }}-->
                                    <!--        </li>-->
                                    <!--    {% endfor %}-->
                                    <!--    </ul>-->
                                    <!--</div>-->
                                </td>
                                <!--<td>-->
                                <!--    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample{{ forloop.counter }}" aria-expanded="false" aria-controls="collapseExample">-->
                                <!--        More-->
                                <!--    </a>-->
                                <!--</td>-->
                                
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endfor %}
</div>
</ul>

{% else %}
<p>No awards are available yet</p>
{% endif %} {% endblock %}