{% extends "rookscore/base.html" %}

{% block body %}

<div class="col-lg-6">


<h3>Score Entry</h3>


<form id="detail-form">
    <h3>Input Test</h3>
    <p><input type="submit" value="Submit Score" /></p>
</form>

<form action="/entry/" method="post" class="form-horizontal">
    <fieldset>
        {# Include the hidden fields #}
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}

        <div class="form-group">
            <label for="inputEmail" class="control-label">{{ form.game_date.label_tag }}</label>
            <div>
                {{ form.game_date.errors }}
                {{ form.game_date }}
                <!--<input type="text" class="form-control" id="inputEmail" placeholder="Email">-->
            </div>
        </div>
        
        <br>

        <!-- Players -->
        <table class="table">
            <thead>
                <tr>
                    <td>
                        Player
                    </td>
                    <td>
                        Score
                    </td>
                    <td>
                        Star?
                    </td>
                </tr>
            </thead>
            <!-- Player 1 -->
            <tr>
                <td>
                    <div>
                        {{ form.name1.errors }}
                        {{ form.name1 }}
                        <!--<input type="text" class="form-control" id="inputEmail" placeholder="Email">-->
                    </div>
                </td>
                <td>
                    <div>
                        {{ form.score1.errors }}
                        {{ form.score1 }}
                        <!--<input type="text" class="form-control" id="inputEmail" placeholder="Email">-->
                    </div>
                </td>
                <td>
                    <div>
                        {{ form.star1.errors }}
                        {{ form.star1 }}
                        <!--<input type="text" class="form-control" id="inputEmail" placeholder="Email">-->
                    </div>
                </td>
            </tr>

            <!-- Player 2 -->
            <tr>
                <td>
                    <div>
                        {{ form.name2.errors }}
                        {{ form.name2 }}
                        <!--<input type="text" class="form-control" id="inputEmail" placeholder="Email">-->
                    </div>
                </td>
                <td>
                    <div>
                        {{ form.score2.errors }}
                        {{ form.score2 }}
                        <!--<input type="text" class="form-control" id="inputEmail" placeholder="Email">-->
                    </div>
                </td>
                <td>
                    <div>
                        {{ form.star2.errors }}
                        {{ form.star2 }}
                        <!--<input type="text" class="form-control" id="inputEmail" placeholder="Email">-->
                    </div>
                </td>
            </tr>

            <!-- Player 3 -->
            <tr>
                <td>
                    <div>
                        {{ form.name3.errors }}
                        {{ form.name3 }}
                        <!--<input type="text" class="form-control" id="inputEmail" placeholder="Email">-->
                    </div>
                </td>
                <td>
                    <div>
                        {{ form.score3.errors }}
                        {{ form.score3 }}
                        <!--<input type="text" class="form-control" id="inputEmail" placeholder="Email">-->
                    </div>
                </td>
                <td>
                    <div>
                        {{ form.star3.errors }}
                        {{ form.star3 }}
                        <!--<input type="text" class="form-control" id="inputEmail" placeholder="Email">-->
                    </div>
                </td>
            </tr>

            <!-- Player 4 -->
            <tr>
                <td>
                    <div>
                        {{ form.name4.errors }}
                        {{ form.name4 }}
                        <!--<input type="text" class="form-control" id="inputEmail" placeholder="Email">-->
                    </div>
                </td>
                <td>
                    <div>
                        {{ form.score4.errors }}
                        {{ form.score4 }}
                        <!--<input type="text" class="form-control" id="inputEmail" placeholder="Email">-->
                    </div>
                </td>
                <td>
                    <div>
                        {{ form.star4.errors }}
                        {{ form.star4 }}
                        <!--<input type="text" class="form-control" id="inputEmail" placeholder="Email">-->
                    </div>
                </td>
            </tr>

            <!-- Player 5 -->
            <tr>
                <td>
                    <div>
                        {{ form.name5.errors }}
                        {{ form.name5 }}
                        <!--<input type="text" class="form-control" id="inputEmail" placeholder="Email">-->
                    </div>
                </td>
                <td>
                    <div>
                        {{ form.score5.errors }}
                        {{ form.score5 }}
                        <!--<input type="text" class="form-control" id="inputEmail" placeholder="Email">-->
                    </div>
                </td>
                <td>
                    <div>
                        {{ form.star5.errors }}
                        {{ form.star5 }}
                        <!--<input type="text" class="form-control" id="inputEmail" placeholder="Email">-->
                    </div>
                </td>
            </tr>

            <!-- Player 6 -->
            <tr>
                <td>
                    <div>
                        {{ form.name6.errors }}
                        {{ form.name6 }}
                        <!--<input type="text" class="form-control" id="inputEmail" placeholder="Email">-->
                    </div>
                </td>
                <td>
                    <div>
                        {{ form.score6.errors }}
                        {{ form.score6 }}
                        <!--<input type="text" class="form-control" id="inputEmail" placeholder="Email">-->
                    </div>
                </td>
                <td>
                    <div>
                        {{ form.star6.errors }}
                        {{ form.star6 }}
                        <!--<input type="text" class="form-control" id="inputEmail" placeholder="Email">-->
                    </div>
                </td>
            </tr>
        </table>
    <p><input type="submit" value="Submit Score" /></p>
    <fieldset/>
</form>

</div>
{% endblock %}

{% block extra_script %}
<script>
  
    // Submit post on submit
    $('#detail-form').on('submit', function(event){
        event.preventDefault();
        console.log("form submitted!")  // sanity check
        create_post();
    });

    // AJAX for posting
    function create_post() {
        console.log("create post is working!") // sanity check
        console.log($('#post-text').val())
    };
    
    $.ajax({
        url : "create_post/", // the endpoint
        type : "POST", // http method
        data : { the_post : $('#post-text').val() }, // data sent with the post request

        // handle a successful response
        success : function(json) {
            $('#post-text').val(''); // remove the value from the input
            console.log(json); // log the returned json to the console
            console.log("success"); // another sanity check
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
    
    $(function() {
    var availableTags = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
    ];
    $( "#test" ).autocomplete({
      source: availableTags
    });
  });
  </script>
{% endblock %}