{% extends "rookscore/base.html" %}

{% block body %}
<div class="col-lg-6">
    <h3>{% if season %}{{ season }}{% else %} All Time{% endif %} Standings</h3>

    {% if rankings.player_list %}
        {% include "rookscore/standings_table.html" %}
    {% else %}
    <p>No players are available!</p>
    {% endif %}
</div>

<div class="col-lg-6">
    <h3>Recent Games</h3>
    {% if recent_game_list %}
        {% for game in recent_game_list %}
        {% with game_scores=game.scores.all %}
        {% if game_scores|length > 0 %}
        <div class="col-lg-12">
            {% include "rookscore/single_game_summary.html" %}
        </div>
        {% endif %}
        {% endwith %}
        {% endfor %}
    </ul>
    {% else %}
    <p>No games are available.</p>
    {% endif %}
</div>
{% endblock %}