{% extends "rookscore/base.html" %}

{% block body %}

    <h3>{{ player }}</h3>

    <div class="row">
        <div class="col-lg-9">
            <div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                
                            </th>
                            <th>
                                1
                            </th>
                            <th>
                                2
                            </th>
                            <th>
                                3
                            </th>
                            <th>
                                4
                            </th>
                            <th>
                                5
                            </th>
                            <th>
                                6
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for r in finishes %}
                        <tr>
                            {% for c in r %}
                            <td>
                                {{ c }}
                            </td>
                            {% endfor %}

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                {% for award in player_awards %}
                    {% if award.winner.trophy_url %}
                    <div class="col-lg-4">
                    {% include "rookscore/award_badge.html" %}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-3">
            <h4>Players</h4>
            <ul class="list-group">
            {% for p in all_players %}
                {% if p == player %}
                <li class="list-group-item bg-info">&gt; {{ p }}</li>
                {% else %}
                <a class="list-group-item" href="/player/{{p.id}}/">{{ p }}</a>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>


{% endblock %}