<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Game played on {{ game.played_date.date }}</h3>
    </div>

    <div class="panel-body">

    {% if game.bids.all|length > 0 %} 
        <table class="table table-striped table-hover ">
            <thead>
                {% for score in game.scores.all %}
                
                <th>
                    {{ score.player.initials }} <br> {{ score.score }}{% if score.made_bid %} * {% endif %}
                    <br>
                    {% if score.rating_change >= 0 %}
                    <span class="score_up">(+{{ score.rating_change }})</span> {% else %}
                    <span class="score_down">({{ score.rating_change }})</span> {% endif %}
                </th>
                
                {% endfor %}
            </thead>
            
            <tbody>
                {% for round in game.rounds %}
                <tr>
                    {% for points in round.points %}
                    <td>
                        {{ points }}
                    </td>
                    {% endfor %}
                    
                    {% if round.bid.points_made >= round.bid.points_bid %}
                        <td> {{ round.description }}  <span class="score_up">({{ round.bid.points_made }})</span></td>
                    {% else %}
                        <td> {{ round.description }}  <span class="score_down">({{ round.bid.points_made }})</span></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
    <!-- Old-school table for games with no round information -->

        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Player
                    </th>
                    <th>
                        Score
                    </th>
                    <th>
                        Season Rating
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for score in game.scores.all %}
                <tr>
                    <td>
                        {{ score.rank }}
                    </td>
                    <td>
                        <a href="/player/{{ score.player.id }}">
                        {{ score.player }}
                        </a>
                    </td>
                    <td>
                        {{ score.score }} {% if score.made_bid %} * {% endif %}
                    </td>
                    <td>
                        {{ score.rating }} {% if score.rating_change >= 0 %}
                        <span class="score_up">(+{{ score.rating_change }})</span> {% else %}
                        <span class="score_down">({{ score.rating_change }})</span> {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endif %}
    
    </div>

    <!-- End oldschool table -->
</div>